http:
{% if traefik_instance.backend_ca_secret is not none %}
  serversTransports:
    backend-ca:
      rootCAs:
        - "{{ traefik_base_config_dir }}/{{ traefik_instance.name }}/tls/ca.pem"
{% endif %}
  routers:
{% for route in traefik_instance.static_routes %}
    {{ route.subdomain }}:
      rule: "Host(`{{ route.subdomain }}.{{ traefik_instance.domain }}`)"
      service: {{ route.subdomain }}
{% if route.scheme == 'https' %}
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ cloudflare_domain }}"
            sans:
{% if traefik_instance.challenge == 'dns-01' %}
              - "{{ traefik_instance.domain }}"
              - "*.{{ traefik_instance.domain }}"
{% else %}
              - "{{ traefik_instance.domain }}"
{% endif %}
{% endif %}
{% endfor %}

  services:
{% for route in traefik_instance.static_routes %}
    {{ route.subdomain }}:
      loadBalancer:
{% if route.scheme == 'https' and traefik_instance.backend_ca_secret is not none %}
        serversTransport: backend-ca
{% endif %}
        servers:
{% for fqdn in resolved_instance_fqdns %}
          - url: "{{ route.scheme }}://{{ fqdn }}:{{ route.port }}"
{% endfor %}
{% endfor %}